<h1>Log in</h1>
<div class="row  logimage">
  <div class="col-md-6">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
  <div class="col-md-6">
    <%= link_to image_tag("wfh_1.svg", alt: "Remote working image") %>
  </div>
</div>
