<div class="container" class>
  <div class="row">
    <div class="col-lg-10"><h3><strong>Title: </strong><%= @article.title %></h3></div>
    <div class="col-lg-2">
        <%= link_to 'Edit article', edit_article_path(@article) if current_user == @article.user %> |
      
        <%= link_to 'All Articles', articles_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @article.image.url, height: '100%', width: '100%' %><br/>
   
      </div>
     
     <div class="col-md-6">
       <h4><small><em>Posted by </em></small><%= @article.user.name %> <small><p><%= time_ago_in_words(@article.created_at) %> ago</p></small></h4>
       <%= @article.body %>
       <div class= "size" >
       <%= vote_btn(@article) %>
        <p class="float-right">(<%= @article.votes.count %> <%= (@article.votes.count) == 1 ? 'vote' : 'votes'%>)</p>
       </div>
     </div>
  </div>
</div>
