 
<div class = "container big">
  <div class = "row">
    <div class = "col-md-8 red">
      <% hash = {} %>
       <% Article.all.each do |art|  %>
       <% hash[art] = art.votes.count  %>
       <%  end %>
        <% num = hash.key(hash.values.max) %>
        <% mainimage = num.image %>
        <%= image_tag mainimage.url, height: '100%', width: '100%' %>
        <p><%= link_to num.title, '#' %> was voted highest with <%= num.votes.count %> votes</p>
        
    </div>
    <div class = "col-md-4 blue">
      <p>Architecture</p>
    </div>
  </div>
  
  <div class = "row">
     <% @sections.each do |section| %>
    <div class = "col-md-3 yellow">
       <h3> <%= link_to section.name, section_path(section) %></h3>
       <% myimage = section.articles.last.image %>
       <%= image_tag myimage.url, height: '100%', width: '100%' %>
    </div>
    <% end %>
  </div> 
</div>

