<h1>Create a New Category</h1>


<div class="row  logimage">
  <div class="col-md-6">
    <%= form_for(@section) do |f| %>
      <ul>
      <% @section.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.submit 'Create' %>
      </p>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= link_to image_tag("wfh_1.svg", alt: "Remote working image") %>
  </div>
</div>
